@import 'tailwindcss';

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/NotoSansJP-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/NotoSansJP-Bold.woff2') format('woff2');
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}
